.home-second-half-container .contact-title {
  font-size: 40px;
  font-family: 'Antonio', sans-serif;
  color: magenta;
  text-shadow: 5px 5px 5px #000000;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  height: fit-content; }

.home-second-half-container .carousel-title {
  font-size: 40px;
  font-family: 'Antonio', sans-serif;
  color: #9e0f9e;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  margin-top: 10rem; }

.home-second-half-container .form-container .input-opaco {
  opacity: 0.7;
  background-color: white;
  color: magenta;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .home-second-half-container .form-container .input-opaco::placeholder {
    opacity: 1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Bangers",cursive; }

.nav-link {
  color: white; }
  .nav-link:hover {
    color: magenta; }

.container-fluid button {
  background-color: magenta;
  opacity: 0.4; }

.container-fluid .shop-icon {
  display: flex;
  align-items: center;
  color: white; }
  .container-fluid .shop-icon:hover {
    color: magenta; }
  .container-fluid .shop-icon img {
    width: 4.5rem; }

.home-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/title-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  gap: 3rem; }
  .home-title-container .games-for-sale-title {
    margin-top: 5rem; }
  .home-title-container p {
    justify-content: center;
    font-family: "Besley",serif;
    color: cyan;
    text-shadow: 5px 5px 5px #000000;
    font-size: 3rem; }
  .home-title-container h1 {
    justify-content: center;
    color: cyan;
    text-shadow: 5px 5px 5px #000000;
    font-size: 4rem; }

.home-second-half-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/fondo violet wave.jpg"); }
  .home-second-half-container .animate__animated, .home-second-half-container .animate__bounce {
    animation-iteration-count: infinite;
    animation-duration: 3s; }
  .home-second-half-container .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    margin-top: 8rem; }
    .home-second-half-container .button-container a img {
      display: flex;
      border-radius: 50%;
      width: 9.5rem; }
  .home-second-half-container p {
    flex-direction: column;
    color: #9e0f9e;
    font-family: 'Antonio', sans-serif;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-size: 4rem; }
  .home-second-half-container .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 21rem; }
  .home-second-half-container .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/assasin creed oyssey.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 2%;
    height: 20rem; }
    .home-second-half-container .form-container label {
      color: white;
      text-shadow: 5px 5px 5px magenta;
      font-size: 1.5rem; }
    .home-second-half-container .form-container input {
      width: 15rem;
      height: 2rem; }
    .home-second-half-container .form-container .submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/fondo violet wave.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-weight: bolder;
      opacity: 1;
      width: 12rem;
      height: 3rem;
      color: cyan;
      text-shadow: 5px 5px 5px #000000;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-family: "Aldrich",sans-serif; }
    .home-second-half-container .form-container #mensaje {
      height: 6rem;
      width: 15rem; }
  .home-second-half-container .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    margin-left: 10rem;
    margin: 10rem auto; }
    .home-second-half-container .carousel img {
      width: 50rem;
      justify-items: center;
      border-radius: 2%; }

.main-container-gow, .main-container-resident-evil-4, .main-container-hogwarts-legacy, .main-container-little-nightmares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-container-gow .grid-images-1, .main-container-resident-evil-4 .grid-images-1, .main-container-hogwarts-legacy .grid-images-1, .main-container-little-nightmares .grid-images-1 {
    display: grid;
    place-items: end; }
    .main-container-gow .grid-images-1 img, .main-container-resident-evil-4 .grid-images-1 img, .main-container-hogwarts-legacy .grid-images-1 img, .main-container-little-nightmares .grid-images-1 img {
      object-fit: cover;
      width: 70%;
      border-radius: 1%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem; }
  .main-container-gow .grid-images-2, .main-container-resident-evil-4 .grid-images-2, .main-container-hogwarts-legacy .grid-images-2, .main-container-little-nightmares .grid-images-2 {
    display: grid;
    place-items: start; }
    .main-container-gow .grid-images-2 img, .main-container-resident-evil-4 .grid-images-2 img, .main-container-hogwarts-legacy .grid-images-2 img, .main-container-little-nightmares .grid-images-2 img {
      object-fit: cover;
      width: 70%;
      height: auto;
      border-radius: 1%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem; }
  .main-container-gow .steam-yt, .main-container-resident-evil-4 .steam-yt, .main-container-hogwarts-legacy .steam-yt, .main-container-little-nightmares .steam-yt {
    display: grid;
    margin-left: 1rem;
    place-items: center; }
    .main-container-gow .steam-yt a, .main-container-resident-evil-4 .steam-yt a, .main-container-hogwarts-legacy .steam-yt a, .main-container-little-nightmares .steam-yt a {
      width: fit-content;
      height: 8rem; }
    .main-container-gow .steam-yt img, .main-container-resident-evil-4 .steam-yt img, .main-container-hogwarts-legacy .steam-yt img, .main-container-little-nightmares .steam-yt img {
      border-radius: 50%;
      width: 14rem;
      object-fit: cover;
      margin-left: 0.5rem;
      box-shadow: 8px 15px 25px rgba(202, 40, 207, 0.6); }
    .main-container-gow .steam-yt iframe, .main-container-resident-evil-4 .steam-yt iframe, .main-container-hogwarts-legacy .steam-yt iframe, .main-container-little-nightmares .steam-yt iframe {
      margin-right: 1.5rem;
      border-radius: 2%;
      width: 89%;
      height: 100%;
      margin-top: 2rem; }

.main-container-gow {
  background-image: url("../images/Gowlandscape.webp"); }

.game-features {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/fondo violet wave.jpg");
  height: 36.5rem;
  padding-top: 1rem; }
  .game-features h1 {
    color: magenta;
    text-shadow: 5px 5px 5px black;
    font-family: 'Antonio', sans-serif; }
  .game-features .grid-features {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30rem;
    place-items: center;
    gap: 3rem;
    margin-top: 3rem; }
    .game-features .grid-features .skill-tree-gow {
      width: 15rem; }
    .game-features .grid-features .viking-shield {
      width: 12rem; }
    .game-features .grid-features .leviathan-axe {
      width: 20rem; }
  .game-features img {
    object-fit: cover;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .game-features p {
    color: white;
    font-size: 20px;
    opacity: 1;
    text-shadow: 5px 5px 5px #000000; }

.gameplay-section {
  font-family: 'Antonio', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10rem auto;
  background-image: url("../images/gow gameplay background.jpg");
  background-size: cover;
  height: 40rem; }
  .gameplay-section h1 {
    margin-bottom: 3rem;
    color: magenta;
    text-shadow: 5px 5px 5px #000000; }

.main-container-hogwarts-legacy {
  background-image: url("../images/hogwarts legacy landscape.jpg"); }

.guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40rem;
  background-image: url("../images/fondo violet wave.jpg"); }
  .guide-container h1 {
    text-align: center;
    font-family: "Antonio",sans-serif;
    color: magenta;
    text-shadow: 5px 5px 5px #000000;
    margin-top: 3rem; }
  .guide-container .hogwarts-guide {
    display: flex;
    justify-items: center;
    margin-top: 6rem;
    gap: 1rem;
    width: 97%; }
    .guide-container .hogwarts-guide p {
      color: cyan;
      text-shadow: 5px 5px 5px #000000;
      margin-top: 2rem;
      font-family: "Antonio",sans-serif; }
    .guide-container .hogwarts-guide img {
      width: 100%; }

.carousel-container {
  text-align: center;
  height: 33rem;
  background-image: url("../images/hogwarts landscape.webp");
  background-size: cover; }
  .carousel-container h1 {
    padding-top: 1rem;
    font-family: "Antonio",sans-serif;
    color: magenta;
    text-shadow: 5px 5px 5px #000000; }

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  margin-left: 10rem;
  margin: 3rem auto; }
  .carousel img {
    width: 50rem;
    justify-items: center;
    border-radius: 2%; }

.main-container-resident-evil-4 {
  background-image: url("../images/resident evil 4 background.jpeg"); }

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/leon wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; }
  .second-section h1 {
    text-align: center;
    font-family: "Besley",serif;
    color: magenta;
    text-shadow: 5px 5px 5px #000000;
    margin-top: 3rem; }
  .second-section .merchant-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70rem;
    width: 70rem;
    text-align: left;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    font-size: 1.3rem; }
    .second-section .merchant-features p {
      color: cyan;
      text-shadow: 5px 5px 5px #000000;
      margin-top: 2rem;
      text-align: center;
      font-family: 'Antonio', sans-serif; }
    .second-section .merchant-features img {
      height: 18rem;
      width: 34rem; }
    .second-section .merchant-features h1 {
      margin: 3rem auto;
      color: magenta; }

.main-container-little-nightmares {
  background-image: url("../images/little nightmares background.jpg"); }

.ln-features-container {
  background-image: url("../images/little nightmares wallpaper 2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  .ln-features-container h1 {
    font-family: "aldrich",sans-serif;
    color: cyan;
    text-shadow: 5px 5px 5px #000000; }
  .ln-features-container .boss-title {
    position: absolute;
    margin-top: 2rem; }
  .ln-features-container .villains-description {
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
    width: 30rem; }
  .ln-features-container .villains-start {
    justify-content: center;
    align-items: center;
    text-align: center; }
  .ln-features-container .villains-container {
    margin-top: 15rem;
    display: flex; }
    .ln-features-container .villains-container h1 {
      font-family: "Antonio",sans-serif;
      color: cyan;
      text-shadow: 5px 5px 5px #000000; }
    .ln-features-container .villains-container img {
      width: 15rem;
      margin-right: 4rem; }
    .ln-features-container .villains-container iframe {
      width: 70%;
      margin-left: 2rem;
      margin-bottom: 1rem;
      border-radius: 4%; }
    .ln-features-container .villains-container p {
      color: magenta;
      font-family: 'Aldrich',sans-serif;
      font-size: 1.1rem;
      text-shadow: 5px 5px 5px #000000; }

@media (max-width: 1050px) {
  .main-container-gow .steam-yt a, .main-container-hogwarts-legacy .steam-yt a, .main-container-little-nightmares .steam-yt a, .main-container-resident-evil-4 .steam-yt a {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 150px;
    height: auto;
    align-items: center; }
  .main-container-gow .steam-yt img, .main-container-hogwarts-legacy .steam-yt img, .main-container-little-nightmares .steam-yt img, .main-container-resident-evil-4 .steam-yt img {
    margin-right: 4rem;
    width: 80%; }
  .main-container-gow .steam-yt iframe, .main-container-hogwarts-legacy .steam-yt iframe, .main-container-little-nightmares .steam-yt iframe, .main-container-resident-evil-4 .steam-yt iframe {
    width: 20rem; }
  .second-section .merchant-features {
    place-items: center;
    width: 60rem; }
    .second-section .merchant-features .storage-system, .second-section .merchant-features .weapon-upgrade, .second-section .merchant-features .trade-system, .second-section .merchant-features .enhacement-system {
      width: 100%; }
      .second-section .merchant-features .storage-system img, .second-section .merchant-features .weapon-upgrade img, .second-section .merchant-features .trade-system img, .second-section .merchant-features .enhacement-system img {
        width: 100%; }
  .guide-container {
    height: 30rem; }
  .ln-features-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .ln-features-container .villains-container iframe {
      margin-right: 2rem;
      height: 15rem;
      margin-top: 2rem; }
  .game-features .grid-features img {
    width: 12rem; } }

@media (max-width: 768px) {
  .main-container-gow, .main-container-hogwarts-legacy, .main-container-little-nightmares, .main-container-resident-evil-4 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; }
    .main-container-gow .steam-yt a, .main-container-hogwarts-legacy .steam-yt a, .main-container-little-nightmares .steam-yt a, .main-container-resident-evil-4 .steam-yt a {
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 150px;
      height: auto;
      align-items: center; }
    .main-container-gow .steam-yt img, .main-container-hogwarts-legacy .steam-yt img, .main-container-little-nightmares .steam-yt img, .main-container-resident-evil-4 .steam-yt img {
      margin-right: 4rem;
      width: 82%; }
    .main-container-gow .steam-yt iframe, .main-container-hogwarts-legacy .steam-yt iframe, .main-container-little-nightmares .steam-yt iframe, .main-container-resident-evil-4 .steam-yt iframe {
      width: 17rem;
      height: 11rem; }
    .main-container-gow .grid-images-1, .main-container-gow .grid-images-2, .main-container-hogwarts-legacy .grid-images-1, .main-container-hogwarts-legacy .grid-images-2, .main-container-little-nightmares .grid-images-1, .main-container-little-nightmares .grid-images-2, .main-container-resident-evil-4 .grid-images-1, .main-container-resident-evil-4 .grid-images-2 {
      place-items: center;
      width: 70%; }
  .nav-link {
    margin-left: 2rem;
    text-align: center; }
  .home-title-container {
    background-position: top; }
    .home-title-container h1 {
      text-align: center;
      font-size: 2rem; }
    .home-title-container p {
      text-align: center;
      font-size: 1.7rem; }
  .home-second-half-container .carousel {
    width: 30rem; }
  .home-second-half-container p {
    margin-top: 5rem; }
  .home-second-half-container .button-container {
    gap: 3rem; }
  .home-second-half-container .footer-content {
    justify-content: center;
    flex-direction: column;
    height: 5rem; }
  .home-second-half-container .social-content {
    margin-top: 1rem;
    justify-content: center; }
  .home-second-half-container .header-godofwar img {
    width: 20rem;
    background-image: cover; }
  .home-second-half-container .form-container {
    width: 19rem; }
  .second-section {
    display: grid;
    place-items: center;
    margin: 0 auto;
    background-position: center; }
    .second-section .merchant-features {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 90%;
      height: 100%; }
      .second-section .merchant-features h1 {
        margin-bottom: 1rem; }
      .second-section .merchant-features img {
        width: 100%; }
      .second-section .merchant-features p {
        text-align: center;
        font-size: 100%;
        margin-top: 2rem; }
      .second-section .merchant-features iframe {
        width: 20rem; }
  .game-features {
    height: 90rem;
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center; }
    .game-features .grid-features {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      margin: auto; }
      .game-features .grid-features .leviathan-axe {
        width: 18rem; }
      .game-features .grid-features img {
        width: 20%; }
      .game-features .grid-features p {
        text-align: center;
        width: 17rem; }
  .gameplay-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    background-position: center; }
    .gameplay-section iframe {
      width: 100%;
      height: 12rem; }
    .gameplay-section h1 {
      margin-top: 0; }
  .ln-features-container {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .ln-features-container .villains-container {
      margin-top: 7rem;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .ln-features-container .villains-container .boss-title {
        margin-top: 5rem; }
      .ln-features-container .villains-container p {
        width: 20rem; }
      .ln-features-container .villains-container iframe {
        height: 11rem; }
      .ln-features-container .villains-container .villains-description {
        width: 20rem; }
      .ln-features-container .villains-container .villains-start {
        width: 20rem; }
      .ln-features-container .villains-container .the-janitor {
        width: 14rem; }
  .guide-container {
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover; }
    .guide-container .hogwarts-guide {
      flex-direction: column; }
      .guide-container .hogwarts-guide img {
        width: 80%; }
  .carousel-container {
    height: 22rem; }
    .carousel-container h1 {
      text-shadow: 5px 5px 5px #000000; }
    .carousel-container .carousel {
      width: 95%; } }

.header-godofwar, .header-hogwarts-legacy, .header-little-nightmares, .header-resident-evil {
  display: flex;
  justify-content: center;
  background-image: url("../images/fondo violet wave.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem; }
  .header-godofwar img, .header-hogwarts-legacy img, .header-little-nightmares img, .header-resident-evil img {
    width: 20rem; }

.footer-content {
  display: flex;
  justify-content: space-evenly;
  height: 7rem;
  background-color: #000000; }
  .footer-content .social-content {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .footer-content .social-content img {
      width: 3rem; }
