%hover-properties{
    opacity: 1;
    filter: blur(3px);
}
%hover-positions{
    opacity: 5;

    img{
      width:18rem;
      opacity: 1;
    }
}
%contact-title{
    font-size: 40px;
        font-family: 'Antonio', sans-serif;
        color:$primary-color;
        text-shadow: $text-shadow ;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        height: fit-content;
}
%carousel-font-config{
    font-size: 40px;
    font-family: 'Antonio', sans-serif;
    color:rgb(158, 15, 158);
    text-shadow: 5px 5px 5px rgb(000000,000000,000000) ;
    text-align: center;
    margin-top: 10rem;
}
%form-input-config{
    opacity: 0.7;
    background-color: $third-color;
    color: $primary-color;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    &::placeholder{
      opacity: 1;
    }
}