@mixin page-header-flex {
    display: flex;
    justify-content: center;
    background-image: url("../images/fondo\ violet\ wave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;

    img{
        width: 20rem;
    }
}
@mixin flex-positions{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin vertical-direction{
    flex-direction: column;
}



@mixin index-games-button-config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    margin-top: 8rem;

        a img{
            display: flex;
            border-radius: 50%;
            width: 9.5rem;
            
        }
}
@mixin youtube-config{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-top: 2rem;

    iframe{
        margin-left: 5rem;
    }
}

@mixin grid-config-mobile{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,20%);
    place-items: center;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
///mobile mixin config///
@mixin grid-content-mobile{
    grid-template-columns:1fr;
    grid-template-rows:repeat(1,20%) ;
    gap: 3rem;
    width: 15rem;
    height: auto;
    margin-left: 10rem;
    margin-top: 28rem;
}
@mixin youtube-video-config-mobile{
    .youtube-video{
        flex-direction: column;
        width: 30rem;
        height:14rem;
        margin-top: 1rem;
        align-items: center;
        width: 50%;


        iframe{
            width: 20rem;
            height: 12rem;
    
        }
    }
}
/////////////////////////