@mixin page-header-flex {
    display: flex;
    justify-content: center;
    background-image: url("../images/fondo\ violet\ wave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;

    img{
        width: 20rem;
    }
}
@mixin flex-positions{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin vertical-direction{
    flex-direction: column;
}



@mixin index-games-button-config{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    margin-top: 8rem;

        a img{
            display: flex;
            border-radius: 50%;
            width: 9.5rem;
            
        }
}


