
//Colores//
$primary-color:magenta;
$secondary-color:cyan;
$third-color:white;
$text-shadow: 5px 5px 5px #000000;
$transparent-color:transparent;
$box-shadow: 8px 15px 25px rgba(202, 40, 207, 0.6); 
