
//Colores//
$primary-color:magenta;
$secondary-color:cyan;
$third-color:white;
$text-shadow: 5px 5px 5px #000000;
$transparent-color:transparent;
$box-shadow-animation: 8px 15px 25px rgba(59, 58, 58 ,0.6); 
