
//////////index home main//////////////
.home-title-container{
    @include flex-positions;
    @include vertical-direction;
    background-image: url("../images/title-background.jpg");
    @include background;
    padding: 5rem;
    gap: 3rem;

    .games-for-sale-title{
      margin-top: 5rem;
    }

    p{
       justify-content: center;
       font-family: "Besley",serif;
       color: $secondary-color;
       text-shadow: $text-shadow;
       font-size: 3rem;

    }

    h1{
       justify-content: center;
       color: $secondary-color;
       text-shadow: $text-shadow;
       font-size: 4rem;
    }
}
.home-second-half-container{
    @include flex-positions;  
    @include vertical-direction;
    @include background;
    background-image: url("../images/fondo\ violet\ wave.jpg");
    

    .button-container{
       @include index-games-button-config;
        
    }
    p{
        @include vertical-direction;
        color:rgb(158, 15, 158);
        font-family: 'Antonio', sans-serif;
        text-shadow: $text-shadow;
        text-align: center;
        font-size: 4rem;
    }
          ////Index form////
    .form-box{
        @include flex-positions;
        margin-bottom: 1rem;
        height: fit-content;
    }
    .contact-title{
        @extend %contact-title;
    }
    .form-container{
       @include flex-positions;
        @include vertical-direction;
        text-align: center;
        background-image: url("../images/assasin\ creed\ oyssey.jpg");
        @include background;
        width: 25rem;
        margin-top: 1rem;
        border-radius: 2%;
        height: 20rem;
        
        label{
            color: $third-color;
            text-shadow: 5px 5px 5px $primary-color;
            font-size: 1.5rem;
        }
        input{
            width: 15rem;
            height: 2rem;
        }
        .submit-button{
            @include flex-positions;
             background-image: url("../images/fondo\ violet\ wave.jpg");
             @include background;
             font-weight: bolder;
             opacity: 0.8;
             width: 10rem;
             height: 3rem;
             color: $third-color;
             margin-top: 2rem;
             margin-bottom: 1rem;
        }
        #mensaje{
            height: 6rem;
            width: 15rem;
        }
        .input-opaco{
           @extend %form-input-config;
        }
    } ////Index Carousel////
    .carousel{
    @include flex-positions;
    justify-content: space-between;
    width: 40rem;
    margin-left: 10rem;
    margin: 10rem auto;

    img{
        width: 50rem;
    justify-items: center;
    border-radius: 2%;
    }


    }
    .carousel-title{
       @extend %carousel-font-config;
    }
}                 ////////


            ////God of war main////

.godofwargame{
    display: flex;
    justify-content:center;
    background-size: cover;
    background-image: url("../images/Gowlandscape.webp");
    height: 50rem;

    .steam-link{
       @include flex-positions;
       @include steam-link-config;
      }
      .youtube-video{
       @include youtube-config;
      }
      .grid-content {
        @include grid-content;
        .img-one,.img-two,.img-three,.img-four {
            perspective: 1000px;
            &:hover {
                @extend %hover-properties;
               + .img-text-one,+.img-text-two,+.img-text-three,+.img-text-four { 
                    
                @extend %hover-positions;
                }
              }
        }
      }
        .img-text-one{
            @include image-text-animation-config(20%,25%);
       
        }
        .img-text-two{
          @include image-text-animation-config(20%,77%);
        }
        .img-text-three{
          @include image-text-animation-config(70%,25%);
        }
        .img-text-four{
          @include image-text-animation-config(70%,75%);
        }
       
    }         
    .game-features{
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-image:url("../images/fondo\ violet\ wave.jpg");
      height: 36.5rem;
      padding-top: 1rem;

      h1{
        color: magenta;
        text-shadow:5px 5px 5px black;
        font-family:'Antonio', sans-serif;
      }
      .grid-features{
        position: absolute;
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        height: 30rem;
        place-items: center;
        gap: 3rem;
        margin-top: 3rem;


          .skill-tree-gow{
           width: 15rem;
          }
          .viking-shield{
            width: 12rem;
          }
          .leviathan-axe{
            width: 20rem;
          }
        }
        
        img{
          object-fit: cover;
          margin-top: 5rem;
          margin-bottom: 3rem;
          
        }
        p{
          color: white;
          font-size: 20px;
          opacity: 1;
          text-shadow: $text-shadow;
         
        }
      }   
      .gameplay-section{
        font-family: 'Antonio', sans-serif;;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10rem auto;
        background-image: url("../images/gow\ gameplay\ background.jpg");
        background-size: cover;
        height: 40rem;

        h1{
          margin-bottom: 3rem;
          color: $primary-color;
          text-shadow: $text-shadow;
        }
        iframe{
           
        }
      }    

                  ////////


               ////Hogwarts legacy main  ////
   
  .hogwarts-legacy-game{
    display: flex;
    justify-content:center;
    background-size: cover;
    background-image: url("../images/hogwarts legacy landscape.jpg");
    height: 50rem;

    .steam-link{
        @include flex-positions;
        @include steam-link-config;
      }
      .youtube-video{
       @include youtube-config;
        
      }
      .grid-content {
        @include grid-content;
        
        .img-one,.img-two,.img-three,.img-four {
            perspective: 1000px;
    
            &:hover {
               @extend %hover-properties;
                + .img-text-one,+.img-text-two,+.img-text-three,+.img-text-four {  
                   @extend %hover-positions;
                }
            }
        }
      }
    
        .img-text-one {
            @include image-text-animation-config(20%,25%)
        }
        .img-text-two{
          @include image-text-animation-config(20%,77%)
        }
        .img-text-three{
          @include image-text-animation-config(70%,25%)
        }
        .img-text-four{
          @include image-text-animation-config(70%,75%)
        }
    }  
    
    ///////
 
  
              ////Resident evil main ////
              
.resident-evil-game{
    display: flex;
    justify-content:center;
    background-size: cover;
    background-image: url("../images/resident evil 4 background.jpeg");
    height: 50rem;

    .steam-link{
        @include flex-positions;
        @include steam-link-config;
      }
      .youtube-video{
       @include youtube-config;
       height: 40rem
      }
  
  .grid-content{

    @include grid-content;
    .img-one,.img-two,.img-three,.img-four {
      perspective: 1000px;

      &:hover {
         @extend %hover-properties;
          + .img-text-one,+.img-text-two,+.img-text-three,+.img-text-four {  
             @extend %hover-positions;
          }
      }
  }
}            

.img-text-one {
  @include image-text-animation-config(20%,25%)
}
.img-text-two{
@include image-text-animation-config(20%,77%)
}
.img-text-three{
@include image-text-animation-config(70%,25%)
}
.img-text-four{
@include image-text-animation-config(70%,75%)
}
}

.second-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/leon\ wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  h1{
    text-align: center;
    font-family:"Besley",serif;;
    color: $primary-color;
    text-shadow: $text-shadow;
    margin-top: 3rem;
  }
.merchant-features{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  height: 70rem;
  width: 70rem;
  text-align: left;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1.3rem;
p{
  color: $secondary-color;
  text-shadow: $text-shadow;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Antonio', sans-serif;
}
  img{
    height: 18rem;
    width: 34rem;
  }
 h1{
  margin: 0;
  color: $primary-color;
 }
 
} 
}    
////////

     ////////Little nightmares main ///////
    
.little-nightmares-game{
    display: flex;
    justify-content:center;
    background-size: cover;
    background-image: url("../images/little nightmares background.jpg");
    height: 50rem;

    .steam-link{
      @include flex-positions;
       @include steam-link-config;
      }
      .youtube-video{
       @include youtube-config
        
      }
  }
  .grid-content{
    @include grid-content;
    .img-one,.img-two,.img-three,.img-four {
      perspective: 1000px;

      &:hover {
         @extend %hover-properties;
          + .img-text-one,+.img-text-two,+.img-text-three,+.img-text-four {  
             @extend %hover-positions;
          }
      }
  }
  .img-text-one {
    @include image-text-animation-config(20%,25%)
  }
  .img-text-two{
  @include image-text-animation-config(20%,77%)
  }
  .img-text-three{
  @include image-text-animation-config(70%,25%)
  }
  .img-text-four{
  @include image-text-animation-config(70%,75%)
  }
}               ///////

        /////Mobile section////
        
@media(max-width:768px){
    .nav-link {
     margin-left: 2rem;
     text-align: center;
    }
    
    .home-title-container{
      background-position:top;
      h1{
        text-align: center;
        font-size: 2rem;
      }
      p{
        text-align: center;
        font-size: 1.7rem;
      }
    }
    .home-second-half-container {
     p{
        margin-top: 5rem;
     }
    
    .button-container{
      gap: 3rem;
    }
    .carousel{
      width: 95%;
    }

    .footer-content{
      justify-content: center;
      flex-direction: column;
      height: 5rem;
     
  
    }
    .social-content{
     margin-top: 1rem;
     justify-content: center;
    }
    .header-godofwar {
       img{
        width: 20rem;
        background-image: cover;
       }
    }
    
    .form-container{
    width: 19rem;
  }
  
  }

.godofwargame, .hogwarts-legacy-game, .little-nightmares-game, .resident-evil-game{
    @include grid-config-mobile;
    
    
        @include youtube-video-config-mobile;
   
   .grid-content{
   @include grid-content-mobile;


    .img-text-one {
      @include image-text-animation-config(10%,50%);
    }
    .img-text-two{
    @include image-text-animation-config(37%,50%);
    }
    .img-text-three{
    @include image-text-animation-config(64%,50%);
    }
    .img-text-four{
    @include image-text-animation-config(91%,50%);
    }
   }
  .steam-link {
    position: absolute;
    margin-top: 66rem;
    margin-left: 5rem;
    
  }
  .steam-link img {
    width: 10rem;
  }
  } ////resident evil features mobile////
  .second-section{
    display: grid;
    place-items: center;
    margin: 0 auto;
    @include youtube-video-config-mobile;
    background-position: center;
    .merchant-features{
      grid-template-columns: 1fr;
      grid-template-rows:1fr;
      width: 90%;
      height: 100%;
     h1{
      margin-bottom: 1rem;
     }
    img{
      width: 100%;
    }
    p{
      text-align: center;
      font-size: 100%;
      margin-top: 2rem;
      
    }
    iframe{
      width: 20rem;
    }
  }


  ////god of war features mobile///
  /// little nightmares features mobile///
  /// hogwarts legacy features mobile///
}
}