

    .nav-link {
    color:$third-color;
  
    &:hover {
      color: $primary-color;
      background-color: $transparent-color;
    }
  }
  
  .container-fluid {
    button {
      background-color: $primary-color;
      opacity: 0.4;

    }
    .shop-icon {
    display: flex;
    align-items: center;
    color: $third-color;
    background-color: $transparent-color;

    
    &:hover {
      color: $primary-color;
      background-color:  $transparent-color;
    }
  
    img {
      width: 4.5rem;
    }
  }
  }
